*{
  margin: 0;
  padding: 0;
}

.android {
  display: none;
}

.react {
  display: none;
}

.net {
  display: none;
}

.error {
  display: none;
}

.form-control {
  max-width: 400px;
}

.jumbotron {
  padding: 50px;
  text-align: center;
  background-image: url(../img/subtle.jpg);
}

.container {
  display: block;
  text-align: center;
  background-color: white;
  padding: 20px;
  max-width: 500px;
  border: solid black 3px;
}

form {
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#output p {
  font-size: 20px;
}

body {
  background-image: url(../img/swirl.jpg);
}
.form-group {
  padding: 15px;
  text-align: center;
}
